@model IEnumerable<ArticleVM>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Top News</h1>
    <div class="container text-center">
        <div class="row">
            <div class="row align-content-center">
                <div class="btn-group ">
                    <form asp-action="Index" method="get">
                        <div class="form-group">
                            <select name="country" class="form-control" asp-items="@Html.GetEnumSelectList<NewsTask.Data.Enums.Country>()"></select>
                            <select name="category" class="form-control" asp-items="@Html.GetEnumSelectList<NewsTask.Data.Enums.Category>()"></select>
                            <input type="number" name="pageSize" placeholder="Number of Results" />
                            <input type="submit" value="Get Top News" class="btn btn-outline-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover table-striped table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Source
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Link
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>

                    <a href="@(item.Url)" class="btn btn-primary">Link</a>

                </td>
                <td>
                    <img src="@(item.UrlToImage ?? "https://www.flaticon.com/svg/static/icons/svg/71/71036.svg")" class="img-thumbnail"  alt="image">
                </td>

            </tr>
        }
    </tbody>
</table>
